<ion-view title="MY CASH">
    <ion-nav-buttons side="left">
        <button
            menu-toggle="left"
            class="button button-icon icon ion-navicon"
        >
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <div class="section">
            <div class="lb-income">INCOME <span>500.00</span></div>
            <div class="divider"></div>
            <div class="lb-expense">EXPENSE <span>-150.00</span></div>
            <div class="divider"></div>
            <div class="lb-balance">Balance in April <span>350.00</span></div>
            <div class="divider"></div>
        </div>
    </ion-content>
</ion-view>